

body {
	font-family: "Poppins", sans-serif;
	font-size: 16px; line-height: 28px; color: #000000; font-weight: 300;
	background: #fff;
	margin: 0;
	padding: 0;
	line-height: normal;
	display: flex;
	min-height: 100%;
	flex-direction: column;
}

html {
    height: 100%;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

ul, ol, li, form, input, select, div, textarea{
  padding: 0;
  margin: 0;
}

p{color:#4d4c4c; padding:0; margin:0;}

img {
  border: none;
  max-width: 100%;
  height: auto
}
.clear {
  margin: 0;
  padding: 0;
  clear: both
}
.after:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden
}
a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  outline: none;
  transition: all 0.3s;
  transition: all 500ms ease-in-out;
}
a:hover {
  text-decoration: none
}

button{transition: all 0.3s;
  transition: all 500ms ease-in-out;}
img {
  max-width: 100%;
}

p{margin-bottom:18px;}

.wrapper{
	max-width:1327px; width: 100%;
	margin: 0 auto;
}

.wrapperSmal{
	max-width:1140px; width: 100%;
	margin: 0 auto;
}

/*
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
*/


.bannerTop{background:#f6f4ed; padding-bottom: 10px; padding-top: 10px; width: 100%; display: inline-block; z-index: 999;}

.bannerTopSub{padding: 0 15px; width: 100%; display: flex;}
.bannerTopSub .logoSec{margin: 0 auto 0 0;}

.bannerTopSub .topNavSec{margin: 0 0 0 auto; padding-top: 18px;}

.bannerTopSub .topNavSec ul.loginNav{float: right; list-style-type: none; margin-bottom: 10px;}
.bannerTopSub .topNavSec ul.loginNav li{float: left; margin: 0 8px; font-weight: normal;}
.bannerTopSub .topNavSec ul.loginNav li:last-child{margin-right: 0;}
.bannerTopSub .topNavSec ul.loginNav li:first-child{margin-left: 0;}

.bannerTopSub .topNavSec ul.loginNav li a{color: #000; font-size: 15px; padding:0; text-decoration: none; display: inline-block;}
.bannerTopSub .topNavSec ul.loginNav li a:hover{color: #3b4bb2;}

.bannerTopSub .topNavSec ul.loginNav li a i{color: #3b4bb2;}

.bannerTopSub .topNavSec ul.loginNav li:last-child a{color: #000; font-size: 15px; background: none; padding-right: 0; text-decoration: none;}




.bannerTopSub .topNavSec ul.mainNav{float: right; list-style-type: none; clear: both; margin-top:9px; }
.bannerTopSub .topNavSec ul.mainNav li{float: left; margin: 0 12px; font-weight: normal; font-weight: 400; position: relative; list-style-type: none;}
.bannerTopSub .topNavSec ul.mainNav li:last-child{margin-right: 0;}
.bannerTopSub .topNavSec ul.mainNav li:first-child{margin-left: 0;}

.bannerTopSub .topNavSec ul.mainNav li a{color: #000000; font-size: 17px; padding:5px 0; text-decoration: none; border-radius: 0; display: inline-block;}
.bannerTopSub .topNavSec ul.mainNav li a:hover{color: #3b4bb2; font-size: 17px; text-decoration: none; border-radius: 0; display: inline-block;}

.bannerTopSub .topNavSec ul.mainNav li:last-child a{color: #fff; font-size: 17px; background: #3b4bb2; margin:0; padding:5px 18px; text-decoration: none; border-radius: 0;}
.bannerTopSub .topNavSec ul.mainNav li:last-child a:hover{color: #fff; font-size: 17px; background: #3b4bb2;}




.bannerTopSub .topNavSec ul.mainNav li button {
  display: none;
}
.bannerTopSub .topNavSec ul.mainNav li ul {
  background:#3b4bb2;
visibility: hidden;
opacity: 0;
min-width:220px;
position: absolute;
transition: all 0.5s ease;
margin-top: 0;
left: 0;
display: none;
top:30px;
z-index: 1;
}

.bannerTopSub .topNavSec ul.mainNav li:hover > ul,
.bannerTopSub .topNavSec ul.mainNav li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.bannerTopSub .topNavSec ul.mainNav li ul li {
  clear: both; margin: 0; padding: 0; border-bottom: #ffffff solid 1px;
  width: 100%;
}
.bannerTopSub .topNavSec ul.mainNav li ul li:last-child{border: none;}
.bannerTopSub .topNavSec ul.mainNav li ul li a{padding: 8px 11px; margin: 0; border: none; border-radius: 0; font-size: 15px; color: #fff; display: block;}
.bannerTopSub .topNavSec ul.mainNav li ul li a:hover{padding: 8px 11px; margin: 0; border: none; border-radius: 0;  font-size: 15px; color: #fff; background: #333; display: block;}

.bannerTopSub .topNavSec ul.mainNav li ul li:last-child a{padding: 8px 11px; margin: 0; border: none; border-radius: 0; font-size: 15px; color: #fff; display: block;}
.bannerTopSub .topNavSec ul.mainNav li ul li:last-child a:hover{padding:8px 11px; margin: 0; border: none; border-radius: 0; font-size: 15px; color: #fff; background: #333; display: block;}

.topNavSec .navMenuAdmin {
  width: 100%;
  display: inline-block;
  margin-bottom: 27px; margin: 0;
}

.topNavSec .navMenuAdmin ul {
  list-style-type: none;
  float: right; margin: 0; padding: 0;
}

.topNavSec .navMenuAdmin ul li:first-child {
  margin-left: 0;
}
.topNavSec .navMenuAdmin ul li {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin: 0 9px;
    margin-left: 9px;
  float: left;
}

.topNavSec .navMenuAdmin ul li a {
  color: #fff;
  text-decoration: none;
  padding:4px 16px 4px 39px;
  display: inline-block;
  border-radius: 20px;
}

.topNavSec .navMenuAdmin ul li:first-child a {
  background: #3b4bb2 url("../images/admin_icon.png") no-repeat 15px 5px; background-size: 15px;
}
.topNavSec .navMenuAdmin ul li:last-child a {
  background: #3b4bb2 url("../images/admin_iconb.png") no-repeat 15px 5px; background-size: 15px;
}

.topNavSec .navMenuAdmin ul li:last-child {
  margin-right: 0;
}




.bannerSec{padding: 60px 0; width: 100%; display: flex; align-items: top; background: url("../images/banner.jpg") no-repeat top center; 
	min-height: 735px; background-size: cover;}

.bannerSec .leftTxtSec{margin:0; padding: 0 15px; display: inline-block; position: relative;}
.bannerSec .leftTxtSec .baner_title_img{position: absolute; right: -9px; bottom: 29px;}

.bannerSec .leftTxtSec h2{font-size: 42px; color: #3b4bb2; font-weight:800;margin-bottom: 30px; margin-top: 0; line-height: 54px; 
	font-family: "Poppins", sans-serif; border-bottom:#1a346e solid 1px; padding-right: 90px; padding-bottom: 16px;
/*	background: url("../images/plane.png") no-repeat right bottom;*/
}
.bannerSec .leftTxtSec h2 strong{display: block; color: #3b4bb2; font-weight: 800;}

.bannerSec .leftTxtSec p{font-size: 17px; line-height: 32px; color: #000000; max-width: 639px;}



.welcomeSecMain{ background: rgb(218,14,41);
	background: linear-gradient(0deg, rgba(218,14,41,1) 0%, rgba(150,16,61,1) 66%, rgba(108,17,74,1) 100%); 
	width: 100%;}
.welcomeBotSecTopSec{padding-top: 55px; padding-bottom: 65px; display: inline-block; width: 100%;}


.topbox{width: 100%; text-align: center;}
.topbox a h2{font-size: 20px; color: #fff; font-weight:700; margin-bottom: 17px; margin-top: 0; text-decoration: none;}
.topbox a p{font-size: 14px; line-height: 25px; color: #f3cdce; font-weight:300; margin-bottom: 17px;}

.topbox i{font-size: 54px; color: #fff; margin-bottom: 17px;}
.topbox h2{font-size: 20px; color: #fff; font-weight:700; margin-bottom: 17px; margin-top: 0;}
.topbox p{font-size: 14px; line-height: 25px; color: #f3cdce; font-weight:300; margin-bottom: 17px;}
.topbox p a{color: #fff; text-decoration: none;}
.topbox p a:hover{color: #fff; text-decoration: underline;}


.welcomeBotSecBotec{background: #fff; padding-top: 85px; padding-bottom: 85px; border-radius:300px 0 0 0; width: 100%; display: inline-block;}


.welcomeTxtLeft h1 {font-size: 33px; color: #0e0e0e; font-weight: 400; max-width: 650px; margin-bottom: 24px; margin-top: 0; line-height: 47px;}

.welcomeTxtLeft h1 span {font-weight: bold; color: #3c4ba8; font-size: 42px; display: block;	}

.welcomeTxtLeft p {font-size: 16px; line-height: 32px; color: #000; margin-bottom: 18px;}


.welcomeImgRight img{border: #f8f8ff solid 1px; border-radius: 0; box-shadow: 0 0 6px 3px #ccc;}


.noticeSec{width: 100%; background: #edecec; margin-top: -10px;}

.noticeSecSub{display: flex;}



.latestUpdateSecLeft { padding-top: 47px; padding-bottom: 25px;}
.latestUpdateSecLeft h2 {color: #162127; font-size: 24px; font-weight: 700; margin-bottom:0; text-align: left; margin-top: 0;}

.latestUpdateSecLeft ul.listNotice {list-style-type: none; display: inline-block; margin-bottom: 8px;}

.latestUpdateSecLeft ul.listNotice li {color: #6e7275; font-size: 15px; line-height: 24px; padding: 13px 0; border-bottom: dashed #717577 1px;}
.latestUpdateSecLeft ul.listNotice li:last-child{border-bottom: none;}
.latestUpdateSecLeft a.viewAll {background: #3b4bb2; padding: 9px 25px; border-radius: 50px; color: #fff; font-size: 15px; display: inline-block; font-weight: 400;}




.ourServices{width: 100%; background: #fff; margin-top: -10px; margin-bottom: 55px;}

.ourServicesSecSub{display: flex; padding: 0 15px;}

.ourServicesSecSub .ourservice_box{background: #3c4ba8 url("../images/services.jpg") no-repeat right top; background-size: contain; 
	border-radius: 25px; padding: 35px; width: 100%; color: #fff; min-height: 350px;}
.ourServicesSecSub .ourservice_box h2{font-size: 36px; color: #fff; margin: 0; padding: 0 175px 7px 0; border-bottom: #fff solid 1px; display: inline-block;
	position: relative; margin-bottom: 24px;}
.ourServicesSecSub .ourservice_box h2:after{content: "";width: 28px; height: 4px; background: #fff; position: absolute; right: 0; bottom: 0;}
.ourServicesSecSub .ourservice_box p{font-size: 15px; color: #fff; line-height: 26px; margin-bottom: 20px}
.ourServicesSecSub .ourservice_box ul{margin:0; padding: 0; list-style-type: none; margin-bottom: 20px}
.ourServicesSecSub .ourservice_box ul li{font-size: 15px; color: #fff; margin: 0 0 10px 0; padding: 0 0 0 22px; position: relative; width: 33%; float: left;}
.ourServicesSecSub .ourservice_box ul li:before{content: "\f00c"; font: normal normal normal 14px/1 FontAwesome; position: absolute; left: 0; top: 4px;}


.ongoingProgram{display: flex;}

.programSub {
  background: #a21e21;
  width: 100%;
  padding: 0 18px;
  display: inline-block;
  margin-top: -43px;
  margin-bottom: 0;
  padding-top: 43px; position: relative;
}

.programSub .imgLeft{position: absolute; left: -31px; top: 0;}
.programSub .imgRight{position: absolute; right:-31px; top: 0;}

.programSub h2{font-size: 24px; font-weight: 700; color: #fff; margin: 0; padding: 0 0 16px 0;}
.programSub ul{margin: 0 0 12px 0; padding: 0; list-style-type: none;  display: inline-block; width: 100%;}
.programSub ul li{background: url("../images/arro.png") no-repeat 0 3px; color: #fff; margin: 0 0 15px 0; padding:  0 0 0 12px; font-size: 16px;}

.programSub a.viewAll {background: #fff; padding: 9px 25px; border-radius: 50px; color: #a21e21; font-size: 15px; display: inline-block; font-weight: 400;}
 

.footerBlue {
  background: #121947;
  width: 100%;
  padding: 25px 0;
}

.footerLeft h2 {
  border-bottom: solid 1px #fff;
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px; margin-top: 0;
  color: #fff;
  font-weight: 700;
}

.footerLeft ul {
  list-style-type: none;
  display: inline-block; width: 100%;
}

.footerLeft ul li {
  width: 25%;
  padding-right: 35px;
  float: left;
}

.footerLeft ul li a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: dashed #fff 1px;
  display: block;
}


.footerRight h2 {
  border-bottom: solid 1px #fff;
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px; margin-top: 0;
  color: #fff;
  font-weight: 700;
}
.footerRight ul.address {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 14px;
}

.footerRight ul.address li.addresList {
  font-size: 15px;
  color: #fff;
  padding-bottom: 10px;
  background: url(../images/locationIcon.png) no-repeat 0 3px;
  padding-left: 24px;
  line-height: 22px;
}

.footerRight ul.address li.emailList {
  font-size: 15px;
  color: #fff;
  padding-bottom: 10px;
  background: url(../images/msgIcon.png) no-repeat 0 3px;
  padding-left: 24px;
  line-height: 22px;
}

.footerRight ul.address li.phonList {
  font-size: 15px;
  color: #fff;
  padding-bottom: 10px;
  background: url(../images/phonIcon.png) no-repeat 0 3px;
  padding-left: 24px;
  line-height: 22px;
}

.footerRight ul.address li.emailList a {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}
.footerRight ul.address li.emailList a:hover {
  text-decoration: underline;
}



.footerRight p.follow {
  font-size: 20px;
  color: #fff;
  margin: 0;
  padding: 0;
}


.footerRight p.follow span {
    padding-right: 8px;
    font-weight: 700;
}


.footerRight p.follow a {
  color: #fff;
  font-size: 20px;
  margin: 0 5px;
}

.footerWhite {
  text-align: center;
  font-size: 14px;
  color: #161616;
  padding: 11px 15px;
}
.footerWhite a{color: #3b4bb2 !important; font-weight: bold;}








